<div class="form-container">
<mat-form-field appearance="outline">
  <mat-label>Nombre</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Correo electrónico</mat-label>
  <input matInput>
</mat-form-field>
<br>
<button mat-raised-button color="accent" (click)="buttonClick()">Enviar</button>

</div>